.justify-content-between {
  justify-content: space-around !important;
}
* {
  margin: 0;
}
.row {
  row-gap: 15.5px;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  display: inline-flex;
  font-family: fantasy;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #d7bbf5;
  background: linear-gradient(
    90deg,
    rgb(191, 140, 227) 0%,
    rgb(135, 79, 209) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(151, 79, 209, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  color: white;
}

.button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #a600ff;
  box-shadow: 0 0 60px rgba(162, 0, 255, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}

.button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ca66f4;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
  
}

.button:hover::after,
.button:focus::after {
  animation: none;
  display: none;
 
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.head-blog {
  font-family: fantasy;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, #cd76f0, #f0c1e1, #fddbbb, #fff9bf);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the gradient */
  animation: gradient-text 3s infinite linear;
}

@keyframes gradient-text {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.blog-read {
  background-color: #5b3e64;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  font-family: fantasy;
}
.text-sub{
  color: black;
  font-family: fantasy;
  padding: 8.5px;
}
.btn-read-more{
  background-color: #d7bbf5;
}
.edit-btn{
  color: #b300ff;
}